<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/opentype
# For Olders Browsers Which Can't Handle Compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>


<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

AddType 'text/html; charset=UTF-8' html


RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://www.goprotoz.com%{REQUEST_URI}

ErrorDocument 500 /errordocs/500.html

ErrorDocument 404 /errordocs/404.html

ErrorDocument 401 /errordocs/401.html

ErrorDocument 403 /errordocs/403.html


Redirect 301 /ui-ux-design-services.html https://www.goprotoz.com/services/ui-ux-design-services.html
Redirect 301 /ux-strategy-services.html https://www.goprotoz.com/services/ux-strategy-services.html
Redirect 301 /ux-research-services.html https://www.goprotoz.com/services/ux-research-services.html
Redirect 301 /ux-audit-services.html https://www.goprotoz.com/services/ux-audit-services.html
Redirect 301 /web-design-services.html https://www.goprotoz.com/services/web-design-services.html
Redirect 301 /data-visualization-services.html https://www.goprotoz.com/services/data-visualization-services.html
Redirect 301 /blog.html https://www.goprotoz.com/insights.html
Redirect 301 /insights/blog.html https://www.goprotoz.com/insights.html


Redirect 301 /insights/emotinal-quotient.html https://www.goprotoz.com/insights/emotional-intelligence-quotient-design.html
Redirect 301 /insights/enterprise.html https://www.goprotoz.com/insights/enterprise-ux-design.html
Redirect 301 /insights/realuse.html https://www.goprotoz.com/insights/what-is-enterprise-ux.html
Redirect 301 /insights/designthink.html https://www.goprotoz.com/insights/design-thinking.html
Redirect 301 /insights/ai-driven-ux.html https://www.goprotoz.com/insights/ai-driven-ux-design.html
Redirect 301 /insights/the-art-of-teachin-machines.html https://www.goprotoz.com/insights/the-art-of-teaching-machines.html
Redirect 301 /emotinal-quotient.html https://www.goprotoz.com/insights/emotional-intelligence-quotient-design.html
Redirect 301 /enterprise.html https://www.goprotoz.com/insights/enterprise-ux-design.html
Redirect 301 /realuse.html https://www.goprotoz.com/insights/what-is-enterprise-ux.html
Redirect 301 /designthink.html https://www.goprotoz.com/insights/design-thinking.html
Redirect 301 /ai-driven-ux.html https://www.goprotoz.com/insights/ai-driven-ux-design.html
Redirect 301 /the-art-of-teachin-machines.html https://www.goprotoz.com/insights/the-art-of-teaching-machines.html
Redirect 301 /desktop-vs-web-apps.html https://www.goprotoz.com/insights/desktop-applications-vs-web-apps-design.html


